 <div class="wrapper" id="wrapper">
        <!-- Sidebar  -->
        {{>side.menu.senior}}
        <!-- Page Content  -->
        <div id="content">
        {{>nav.profiles}}
    <div class="">
        <div class="blog-container">   
          <form action="/{{this.user._id}}/tickets/{{this.ticket._id}}" method="post">  
            <div class="blog-header">
              <div class="blog-cover" style="background:url({{this.ticket.image}});">
                <div class="blog-author">
                  <h3>Russ Beye</h3>
                </div>
              </div>
            </div>
            <div class="blog-body">
              <div class="blog-title">
                <h1><a href="#">{{this.ticket.title}}</a></h1>
              </div>
              <div class="blog-summary">
                <p>{{this.ticket.description}}</p>
              </div>
              <p ><a class="linkGitHub" id="linkGitHub" href="#">Github Repo</a></p>  
              <label for="textSolution" class="form-label">Your solution:</label>
            <div class="form-floating mb-3" id="textSolution">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="solution"></textarea>
                <label for="floatingTextarea2">Type here...</label>
            </div>
            <label for="fileUpload" class="form-label">Add supporting files:</label>
            <div class="input-group mb-3" id="fileUpload" >
                <input type="text" class="form-control" id="inputGroupFile02" name="imgSolution">
                <label class="input-group-text" for="inputGroupFile02" id="labelArchivo">Upload</label>
            </div>
            <label for="basic-url" class="form-label">Github Repo URL</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">https://github.com/</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="git">
              </div>
            </div>
            <div class="blog-footer">
              <ul>
              </ul>
                <button type="submit" class="btn btn-secondary mb-3 btn-lg btn-lg">Send Solution</button>
            </div>
          </form>  
          </div>
    </div>
</div>