<div class="wrapper">
        <!-- Sidebar  -->
        {{>side.menu.senior user}}
        <!-- Page Content  -->
        <div id="content">
        {{>nav.profiles}}
            <div class="card-container">
          {{#each tickets}}
                <div class="blog-container">
                  
                  <div class="blog-header">
                    <div class="blog-cover" style="background:url({{image}});">
                      {{!-- <div class="blog-author" style="background:url({{author.image}});"> --}}
                     <div class="blog-author">
                        <h3>Rocio Salgado</h3>
                      </div>
                    </div>
                  </div>
                
                  <div class="blog-body">
                    <div class="blog-title">
                      {{log author}}
                      <h1><a href="#">{{this.title}}</a></h1>
                    </div>
                    <div class="blog-summary">
                      <p>{{this.description}}</p>
                    </div>
                    <div class="blog-tags">
                      <ul>
                        {{#each this.technologiesUsed}}
                        <li><a href="#">{{this}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                  
                  <div class="blog-footer">
                    <ul>
                      <li class="published-date">2 days ago</li>
                    </ul>
                    <button type="button" class="btn btn-secondary mb-3 btn-lg btn-sm"><a href="/{{../user._id}}/tickets/{{_id}}">Take Ticket</a></button>
                  </div>
                
                </div>
                {{/each}}
                </div> 
            </div> 
        </div>
</div>
